<% @messages.each do |message| %>
    <div class="message">
        <div class="date">
            <%= message.created_at %>
        <div>
        <div class="content">
            <%= message.content %>
        </div>
    </div>
<% end %>
